<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kathy.electricity" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/double_speech_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SnackActivity"
            android:label="@string/title_activity_snack" >
        </activity>
        <activity
            android:name=".BusActivity"
            android:label="Buss" >
        </activity>
        <activity
            android:name=".TapasActivity"
            android:label="@string/title_activity_tapas" >
        </activity>
    </application>

</manifest>
